.statuscircle {
    width: 120px;
    height: 120px;
}

@media (min-width: 1px) and (max-width: 760px) {
    .statusimg {
        max-width: 35px;
        max-height: 35px;
    }

    .statuscircle {
        max-width: 75px;
        max-height: 75px;
    }

    .statustext {
        font-size: 6px;
    }
}

.statustext {
    font-size: 12px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
