@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<body>

    <div class="container-fluid">
        <div class="row py-3">
            <div class="col-md-4">
                <img class="img-fluid mx-auto d-block mb-3" src="https://storage.naiin.com/system/application/bookstore/resource/product/202209/561084/1000254317_front_XXL.jpg?imgname=%E0%B8%9A%E0%B9%89%E0%B8%B2%E0%B8%99%E0%B8%A7%E0%B8%B4%E0%B8%81%E0%B8%A5%E0%B8%84%E0%B8%99%E0%B8%9B%E0%B8%A3%E0%B8%B0%E0%B8%AB%E0%B8%A5%E0%B8%B2%E0%B8%94">

                <div class="my-1 text-center">
                    <p class="fs-2" style="color: #1F8157">212.00 บาท</p>
                    <p class="fs-6 text-decoration-line-through">265.00 บาท</p>
                    <p class="fs-6 " style="color: #B21F1F;">ประหยัด 53.00 บาท (20.00 %)</p>
                </div>

                <div class="container-fluid my-1 text-center">
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-success w-100 rounded-pill">ซื้อเลย</button>
                        </div>
                        <div class="col">
                            <button class="btn btn-success w-100 rounded-pill">ใส่ตะกร้า</button>
                        </div>
                    </div>

                </div>
                <hr class="d-md-none" />
            </div>
            <div class="col-md-8 py-3 px-5">
                <div class="container mb-2">
                    <h2 style="color: #1F8157">บ้านวิกลคนประหลาด</h2>
                    <p>ผู้เขียน: <span style="color: #1F8157">อุเก็ตสึ</span></p>
                    <p>สำนักพิมพ์: <span style="color: #1F8157">Bibli (บิบลิ)</span></p>
                    <p>หมวดหมู่: <span style="color: #1F8157">นิยายแปล, นิยายแปล, สืบสวนสอบสวน</span></p>
                    <hr />
                </div>

                <div class="container mb-2">
                    <h3>เรื่องย่อ:</h3>
                    <p style="color: #1F8157">ความลับชวนขนลุกของบ้านธรรมดาหลังหนึ่ง ความบิดเบี้ยวที่จะปลุกเร้าจินตนาการสุดดำมืดของคุณ นิยายดังที่เป็นกระแสไวรัลในโลกออนไลน์</p>
                    <p style="color: #1F8157">
                        "ฉัน" เป็นนักเขียนอิสระผู้เชี่ยวชาญเรื่องลี้ลับ ด้วยลักษณะงานทำให้
                        มีโอกาสฟังเรื่องราวประสบการณ์พิศวงอยู่บ่อยๆ โดยเฉพาะเรื่องราวที่
                        เกี่ยวข้องกับ "บ้าน" สิ่งปลูกสร้างที่มาพร้อมเรื่องเล่าลึกลับมีอยู่มากมาย
                        นับไม่ถ้วน แต่เรื่องราวของ "บ้าน" หลังที่ฉันเพิ่งได้ฟังและเข้าไปมีส่วน
                        เกี่ยวข้อง กลับไม่เหมือนเรื่องใดที่เคยได้ยินมา
                    </p>
                    <p style="color: #1F8157">
                        คุณดูออกไหมว่าบ้านหลังนี้ผิดปกติตรงไหน
                        หากมองเผินๆ ก็ดูเหมือนบ้านคนดาษดื่นทั่วไป แต่หากพิจารณาให้
                        ละเอียดถี่ถ้วนทุกซอกมุม กลับสังเกตเห็นความแปลกประหลาดน่า
                        สงสัยอยู่ทุกหนแห่ง
                    </p>
                    <p style="color: #1F8157">
                        พื้นที่ห้อง...บานประตู...ช่องหน้าต่าง...
                    </p>
                    <p style="color: #1F8157">
                        ทุกตารางนิ้วแฝงไปด้วยความบิดเบี้ยว พิลึกพิลั่น สะกิดจินตนาการ
                        อันสยดสยอง ดำดิ่งสู่มุมมืดของจิตใจมนุษย์อันลึกเกินหยั่ง แม้เพียง
                        มองดูแผนผังของมันเท่านั้น
                    </p>
                    <p style="color: #1F8157">
                        นี่คือเรื่องราวของบ้านสุดพิศวง สั่นประสาท ที่จะทำให้คุณต้องอ่าน
                        รวดเดียวจนจบ นิยายเรื่องดังชวนขนลุกที่สร้างปรากฏการณ์ไวรัล
                        สะเทือนโลกอินเทอร์เน็ตถล่มยอดขายกว่า 300,000 เล่มในญี่ปุ่น
                        และสร้างเป็นภาพยนตร์เร็วๆ นี้
                    </p>
                    <hr />
                </div>

                <div class="container mb-2">
                    <h3>รีวิว:</h3>
                    <label>ให้คะแนนสินค้า: </label>
                    <div class="rate">
                        <div class="rating">
                            <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label> <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label> <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label> <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label> <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                        </div>
                    </div>
                </div>
                <div class="form-outline w-75 mx-auto">
                    <textarea class="form-control" id="textAreaExample" rows="4" placeholder="เขียนความคิดเห็นของคุณ..."></textarea>
                </div>
                <div class="text-center mt-2">
                    <button type="button" class="btn btn-success rounded-pill" a href="#">ส่งความคิดเห็น</button>
                </div>
                <hr class="hr" />

                <div class="container mb-2">
                    <h3>ความคิดเห็นทั้งหมด:</h3>

                    <div class="w-100 p-3" style="background-color:#ECECEC; color:#686868; border-radius: 20px 20px 20px 20px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="#686868" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                        </svg>
                        <label>b*****8</label><label class="fst-italic ms-3" style="color: #aaa;">2023-08-26 21:55</label>

                        <div class="ms-4" style="color: #FFD600;">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                </svg>
                            </span>
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                </svg>
                            </span>
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                </svg>
                            </span>
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                </svg>
                            </span>
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                </svg>
                            </span>
                        </div>

                        <div class="m-4 p-2 bg-white">ได้รับสินค้าแล้ว จัดส่งได้รวดเร็ว ดีมาก ตัวสินค้าปลอดภัย ขนส่งจัดส่งได้ดี ไม่มีเสียหายใดๆเลย ทางร้านก็ห่อหนังสือมาอย่างดี</div>
                    </div>

                </div>


            </div>
        </div>
    </div>

</body>