@model UserAddress

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>ต้องการลบที่อยู่นี้ไหม? </h3>
<div>
    <h4>ที่อยู่</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.CustomerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.PostalCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="AddressId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index"> กลับสู่รายการที่อยู่ </a>
    </form>
</div>
