@model Event
@{
    ViewData["Title"] = "Edit";
}
<h1 class="text-center"> Edit </h1>
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-controller="Eventctl" asp-action="Edit" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">​

                <label asp-for="EventName"></label>​

                <input type="Text" asp-for="EventName" class="form-control"/>​
                <span asp-validation-for="EventName" class="text-danger"></span>
            </div>​

             <div class="form-group">
                <label asp-for="EventDescription"></label>
                <textarea asp-for="EventDescription" class="form-control"></textarea>
                <span asp-validation-for="EventDescription" class="text-danger"></span>
            </div>

            <div class="form-group">​

                <label asp-for="Eventdate"></label>​

                <input type="date" asp-for="Eventdate" class="form-control"/>​
                <span asp-validation-for="Eventdate" class="text-danger"></span>
            </div>

             <div class="form-group">​

                <label asp-for="EventImg "></label>​

                <input asp-for="EventImg" class="form-control" accept="image/*">​

                <span asp-validation-for="EventImg" class="text-danger"></span>
            </div>​
​

            <div class="form-gruop">
                <button type="submit" class="btn btn-warning"> Update </button>
                <a asp-action="List">Back to List</a>
            </div>
        </form>
    </div>
</div>